

html {
  position: relative;
  min-height: 100%;
  left: 50px;
  right: 80px
}
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

}
body > .footer {
  position: absolute;
  bottom: 10px;
  padding-right: auto;
  padding-left: 400px;
  text-align: center;
}

img {
    max-width: 150px;
    max-height: auto;
}

.navbar-brand {
   padding-left: 50px;
}
body > .container {
  padding-top: 100px;
}
.container .text-muted {
  margin: 20px 0;
}


code {
  font-size: 80%;
}
